label {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    display: block;
}

input {
    width:fit-content;
    margin-top: 1rem;
    display: block;
    margin-left: 1rem;
}

button {
    margin-left: 1rem;
    margin-top: 1rem;
}

.jdinput {
    width: 30rem;
}